/* ---Work Sans fonts from Google ------ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* -----Shared Styles----- */
* {
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 8px;
    border: 0;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 24px;
    cursor: pointer;
    margin-top: 24px;

}
.text-light-gray{
    color:#727272; 
    font-size: 1rem;
    
    

}

/* ----header styles----- */
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

/* --------banner styles----- */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    
}
/* -----Features----- */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.features-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
   
}
.features-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.features-content{
    padding-right: 70px;
    padding-left: 70px;
}
.features-title{
    font-size: 2.8rem;
    
}
.quick-list{
   color: #727272;
   font-weight: 500;
}
.of-our{
    color: #131313;
    font-weight: 700;

}
.features{
    color: #FF900E;
    font-weight: 700;
}








/* =======Responsive Styles======= */
/* ---Mobile devices--- */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .btn-primary{
      font-size: 0.8rem;
    }
    .banner-title{
        font-size: 2rem;
    }
    nav,.features-container{
        flex-direction: column;
    }
    .features-images{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    
}
/* -----Tablet or Medium devices---- */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav,.features-container{
        flex-direction: column;
    }
    nav ul{

    }
    
    
}